

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap');

:root{
  --fonte1:  'Titillium Web', sans-serif;
  --fonte2: 'Josefin Sans', sans-serif;
}

*
{
  margin: 0px;
  padding: 0px;
}

.whats{
  width: 40px;
} 

html, body{
  min-height: 100vh;
  background-color: white;
  font-family: var(--fonte1);
}

header{
  padding: 50px;
  color: #515151;
  text-align: center;
  font-family: var(--fonte1);
  font-size: 2.5em;
  background: linear-gradient(to bottom, #0C59F2,  #0F71F2, #139DF2, #22CCF2);
}

h2{
  text-align: center;
  color: green;
}

nav {
  padding: 10px;
  text-align: right;
  margin: 20px;
}

section 
{
  padding-left: 30px;
  padding-top: 20vh;
  padding-bottom: 20vh;
  line-height: 2em;
  font-size: 7vh;
  text-align: center; 
}

section > p 
{
  font-family: var(--fonte2);  
}

.oi {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

section.imagem 
{
  background-attachment: fixed;
}

section.imagem > p 
{
  background-color: rgba(56, 54, 54, 0.192);
  width: 300px;
}

section#img01 
{
  background-image: url(img/homemanu1.png);
  background-color: darkseagreen;
  color:  white;
  
}

section#img02 {
  background-image: url(img/dr1.jpeg);
  color: white; 
}

.dep1{
  width: 80px;
  font-size: .5px;
}

footer {
  font-family: var(--fonte1);
  background: linear-gradient(to top, #0C59F2,  #0F71F2, #139DF2, #22CCF2);
  color: #525252;
  text-align: center;
  padding: 5px;
}

.rodape {
  font-size: 2rem;
}

a {
  color: rgb(247, 239, 239);
  text-decoration: none;
}

a:hover {
  color: #525252;
  transition: .3s;
}

.content{
  display: 
  flex;justify-content: 
  center;}

.contato{
  width: 100%; 
  max-width: 
  400px;
}

.form{
  display: 
  flex;flex-direction: 
  column;
}

.field{
  padding: 10px; 
  margin-bottom: 15px; 
  border: 1px solid #ddd;
  border-radius: 5px; 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

textarea{
  height: 100px;
}
